div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.news-item a{
	display:flex;
}
/**
new rule
*/

.brands-item ul, .brands-item li {
    list-style-type: none;
}
.brands-item {
    width: 33%;
    float: left;
    box-sizing: border-box;
}
